<div fxLayoutAlign="center center" style="height: 100%" fxLayout="column">
  total {{mangatotal}}
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <label>
      <input [(ngModel)]="filterValue" matInput placeholder="">
    </label>
  </mat-form-field>
  <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <div *cdkVirtualFor="let item of mangaList | filter :filterValue" class="example-item" routerLink="/manga/info/{{item.id}}">{{(item.title) || 'Loading...'}}</div>
  </cdk-virtual-scroll-viewport>
</div>
