<div fxLayout="column" style="margin: 5px">

  <div *ngIf="(manga | async) as Manga" fxLayout="row" style="height: 80vh; width: 100%">

    <div class="card card-cascade wider" style="width: 30%">

      <!-- Card image -->
      <div class="view view-cascade overlay morpheus-den-gradient" fxLayoutAlign="center center" >
        <img class="card-img-top" style="width: 25vh" src="{{Manga.img}}" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body  elegant-color card-body-cascade text-center pb-0">

        <!-- Title -->
        <h2 class="blue-text card-title"><strong>{{Manga.title}}</strong></h2>
        <!-- Subtitle -->
        <h4 class="pb-2"><strong>{{Manga.author}}</strong></h4>
        <!-- Text -->
        <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque
          laudantium, totam rem aperiam. </p>

        <!-- Linkedin -->
        <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
        <!-- Twitter -->
        <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
        <!-- Dribbble -->
        <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

        <!-- Card footer -->
        <div class="card-footer text-muted text-center mt-4">
          2 days ago
        </div>

      </div>

    </div>


    <div class="view zoom overlay jarallax" fxLayout="row" style="width: 70%" fxHide.lt-md>
      <img src="{{Manga.backgroundImgUrl[imgNumber]}}" class="img-fluid jarallax-img">

      <div class="mask flex-center rgba-blue-grey-strong">
        <p class="white-text h4 p-4">{{Manga.description}}</p>
      </div>
    </div>
  </div>

  <div>

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="42">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Number Column -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <!-- View Column -->
      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> View </th>
        <td mat-cell *matCellDef="let element"> {{element.view}} </td>
      </ng-container>

      <!-- Uploaded Column -->
      <ng-container matColumnDef="uploaded">
        <th mat-header-cell *matHeaderCellDef> Uploaded </th>
        <td mat-cell *matCellDef="let element"> {{element.uploaded}} </td>
      </ng-container>


      <!-- Read Column -->
      <ng-container matColumnDef="read">
        <th mat-header-cell *matHeaderCellDef> Uploaded </th>
        <td mat-cell *matCellDef="let element">
          <button type="button" class="btn btn-elegant" (click)="read(element.href)">Read</button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
